# ============================================
# Production Environment Configuration for VPS
# ============================================

# Security
# Run `python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"` on server to generate a unique key
DJANGO_SECRET_KEY=generate_a_strong_unique_secret_key_here

# ALWAYS False in Production!
DJANGO_DEBUG=False

# Allowed Domains (comma separated)
DJANGO_ALLOWED_HOSTS=pickpickles.xyz,www.pickpickles.xyz,127.0.0.1,localhost

# Timezone & Localization
DJANGO_TIME_ZONE=Asia/Dhaka
DJANGO_LANGUAGE_CODE=en-us


# ============================================
# PostgreSQL Database Configuration
# ============================================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=pickpickles_db
DB_USER=pickpickles_user
DB_PASSWORD=your_strong_postgres_password
DB_HOST=127.0.0.1
DB_PORT=5432

# ============================================
# Meta / Facebook Pixel Tracking
# ============================================
META_PIXEL_ID=2165451210680943

# ============================================
# Pathao Courier Merchant Developer API
# ============================================
PATHAO_BASE_URL=https://api-hermes.pathao.com
PATHAO_CLIENT_ID=your_pathao_client_id
PATHAO_CLIENT_SECRET=your_pathao_client_secret
PATHAO_USERNAME=your_pathao_registered_email_or_phone
PATHAO_PASSWORD=your_pathao_password
PATHAO_STORE_ID=446187
